<!DOCTYPE html>
<html ng-app="UFlying">
	<head>
		<meta charset="utf-8">
		<script src="../3rdParty/angular/angular.min.js"></script>
		<script src="../3rdParty/angular-sanitize/angular-sanitize.min.js"></script>
		<script src="../3rdParty/angular-translate/angular-translate.min.js"></script>
        <script src="../3rdParty/angular-localize/angular-localize_zh-cn.js"></script>
	    <script src="../3rdParty/jquery/jquery.min.js" type="text/javascript"></script>
	    <script src="../3rdParty/jqueryui/jquery-ui.min.js" type="text/javascript"></script>
	    <script src="../3rdParty/underscore/underscore-min.js" type="text/javascript"></script>
	    <script src="../3rdParty/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="../3rdParty/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		<script src="../3rdParty/angular-dialog-service/dialogs-default-translations.min.js"></script>
		<script src="../3rdParty/angular-dialog-service/dialogs.min.js"></script>
		<script src="../3rdParty/angular-cookies/angular-cookies.min.js"></script>
		<script src="../js/mission/Main.js"></script>
		<script src="../js/Utils.js"></script>
		<script src="../js/providers/Cities.js"></script>
		<script src="../js/providers/Login.js"></script>
		<script src="../js/providers/MissionConfigs.js"></script>
		<script src="../js/mission/dialogs/MissionEdit.js"></script>
		<script src="../js/mission/dialogs/Login.js"></script>
	
	    <link rel="stylesheet" type="text/css" href="../3rdParty/bootstrap/css/bootstrap.min.css">
	    <link rel="stylesheet" type="text/css" href="../3rdParty/bootstrap/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="../3rdParty/angular-dialog-service/dialogs.min.css">
		<link rel="stylesheet" type="text/css" href="../css/Mission.css">
	</head>
  <style type="text/css">
  </style>
	<body ng-controller="Task">
    <section class="main">
        <div class="btn-group">
            <img src="../img/task/caption.png"/>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="missionConfigs == null">
                请选择任务类型 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="config in missionConfigs"><a href="#" uf-target="{{config.missionType}}" ng-click="mission()">{{config.typeName}}</a></li>
           </ul>
        </div>
        <img src="../img/Logo.png"/>
    </section>
	</body>
</html>
