body {
	background-color: lightgray;
    font-family: "Microsoft YaHei",tahoma,arial,Hiragino Sans GB,å®‹ä½“;
    color: #888;
}

section .center {
    margin: 0 auto;
    overflow: hidden;
    padding: 40px;
    width: 1280px;
	background-color: white;
}

@media screen and (max-width: 480px) {
	section .center {
		width: 360px;
		padding: 0.5em;
	}
}
