<link href="common/components/videos/Videos.css" rel="stylesheet" type="text/css" media="all"/>
<section class="videos">
	<div class="center">
		<ul>
			<li> 
				<a href="http://www.youku.com"><img height="100%" width="100%" src="img/videos/video1.png"></img></a>
			</li>
			<li> 
				<a href="http://www.youku.com"><img height="100%" width="100%" src="img/videos/video2.png"></img></a>
			</li>
			<li> 
				<a href="http://www.youku.com"><img height="100%" width="100%" src="img/videos/video3.png"></img></a>
			</li>
			<li> 
				<a href="http://www.youku.com"><img height="100%" width="100%" src="img/videos/video4.png"></img></a>
			</li>
		</ul>
	</div>
</section>