<form novalidate name="insuranceForm">
	<fieldset>
        <section class="staticInfo">
            <label>保险类型</label>
            <div ng-bind="typeName"></div>
            <small></small>
        </section>
        <section class="staticInfo">
        	<label>被保险人会员ID</label>
        	<div ng-bind="account|accountId"></div>
        </section>
        <section class="staticInfo">
        	<label>被保险人姓名</label>
        	<div ng-bind="account.name"></div>
        </section>
        <section>
            <label>投保机型</label>
            <div>
            	<select ng-model="flyer" ng-options="model as model.title for model in flyerModels"></select>
            	<details>
	            	<img src="img/Flyer.png"></img>
	            	<small ng-bind="flyer|flyerInfo"></small>
            	</details>
            </div>
			<small></small>
        </section>
        <section>
            <label>飞控编号</label>
            <div><input type="string" ng-model="control"></div>
			<small></small>
        </section>
        <section>
            <label>飞行器价格</label>
            <div><input type="number" ng-model="price" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100"></div>
			<small></small>
        </section>
        <section class="flightPictures">
        	<label>飞行器照片</label>
        	<div>
        		<button class="fileUpload" ng-model="flyerPicture[0]" name="file" ngf-pattern="image/*" accept="image/*" 
        			ngf-max-size="20MB" ngf-select="setFlyerPicture($file, 0)">
        			<img ngf-src="flyerPicture[0] || 'common/img/Placeholder.jpg'"></img>
        		</button>
        		<button class="fileUpload" ng-model="flyerPicture[1]" name="file" ngf-pattern="image/*" accept="image/*" 
        			ngf-max-size="20MB" ngf-select="setFlyerPicture($file, 1)">
        			<img ngf-src="flyerPicture[1] || 'common/img/Placeholder.jpg'"></img>
        		</button>
        		<button class="fileUpload" ng-model="flyerPicture[2]" name="file" ngf-pattern="image/*" accept="image/*" 
        			ngf-max-size="20MB" ngf-select="setFlyerPicture($file, 2)">
        			<img ngf-src="flyerPicture[2] || 'common/img/Placeholder.jpg'"></img>
        		</button>
        		<button class="fileUpload" ng-model="flyerPicture[3]" name="file" ngf-pattern="image/*" accept="image/*" 
        			ngf-max-size="20MB" ngf-select="setFlyerPicture($file, 3)">
        			<img ngf-src="flyerPicture[3] || 'common/img/Placeholder.jpg'"></img>
        		</button>
        		<button class="fileUpload" ng-model="flyerPicture[4]" name="file" ngf-pattern="image/*" accept="image/*" 
        			ngf-max-size="20MB" ngf-select="setFlyerPicture($file, 4)">
        			<img ngf-src="flyerPicture[4] || 'common/img/Placeholder.jpg'"></img>
        		</button>
        		<button class="fileUpload" ng-model="flyerPicture[5]" name="file" ngf-pattern="image/*" accept="image/*" 
        			ngf-max-size="20MB" ngf-select="setFlyerPicture($file, 5)">
        			<img ngf-src="flyerPicture[5] || 'common/img/Placeholder.jpg'"></img>
        		</button>
        	</div>
        	<small></small>
        </section>
        <section>
            <label>购机发票</label>
            <div>
        		<button ngf-select class="fileUpload" ng-model="receipt" name="file" ngf-pattern="image/*" accept="image/*" 
        			ngf-max-size="20MB">
        			<img ngf-src="receipt || 'common/img/Placeholder.jpg'"></img>
        		</button>
            </div>
			<small></small>
        </section>
        <section class="staticInfo">
        	<label>被保险人电话</label>
        	<div ng-bind="account.mobilePhone"></div>
        </section>
        <section class="staticInfo">
        	<label>被保险人地址</label>
        	<div ng-bind="account.address"></div>
        </section>
        <section class="staticInfo" ng-show="account.idCardNumber !== null">
        	<label>被保险人身份证</label>
        	<div ng-bind="account.idCardNumber"></div>
        </section>
        <section ng-show="account.idCardUrl1 !== null">
        	<label>身份证照正面</label>
        	<img ng-src="account.idCardUrl1"/>
        </section>
        <section ng-show="account.idCardUrl2 !== null">
        	<label>身份证照反面</label>
        	<img ng-src="account.idCardUrl2"/>
        </section>
	</fieldset>
</form>