<form novalidate name="insuranceForm">
	<fieldset>
        <section class="staticInfo">
            <label>保险类型</label>
            <div ng-bind="typeName"></div>
        </section>
        <section class="staticInfo">
        	<label>被保险人会员ID</label>
        	<div ng-bind="account|accountId"></div>
        </section>
        <section class="staticInfo">
        	<label>被保险人姓名</label>
        	<div ng-bind="account.name"></div>
        </section>
        <section>
            <label>投保机型</label>
            <div>
            	<select ng-model="flyer" name="flyer" class="form-control" ng-required="true" ng-options="model as model.title for model in flyerModels"></select>
				<small>
					<span ng-show="insuranceForm.flyer.$error.required && insuranceForm.flyer.$dirty" class="errInfo">请填写投保机型</span>
				</small>
            	<details>
	            	<img src="img/Flyer.png"></img>
	            	<small ng-bind="flyer|flyerInfo"></small>
            	</details>
            </div>
        </section>
        <section>
            <label>飞控编号</label>
            <div>
            	<input type="string" name="control" ng-model="control" ng-required="true" class="form-control">
				<small class="errInfo">
					<span ng-show="insuranceForm.control.$error.required && insuranceForm.control.$dirty">请填写飞控编号</span>
				</small>
           	</div>
        </section>
        <section>
            <label>飞行器价格</label>
            <div>
            	<div class="input-group">
	            	<input type="number" class="form-control" name="price" ng-required="true" ng-model="price" min="0" step="1" data-number-to-fixed="2" data-number-stepfactor="100">
	            	<span class="input-group-addon">元</span>
            	</div>
				<small class="errInfo">
					<span ng-show="insuranceForm.price.$error.required && insuranceForm.price.$dirty">请填写飞行器价格</span>
					<span ng-show="insuranceForm.price.$error.number && insuranceForm.price.$dirty">请填写数字</span>
				</small>
            </div>
        </section>
        <section class="flightPictures">
        	<label>飞行器照片</label>
        	<div>
        		<button class="fileUpload" ng-model="flyerPictures_0" name="flyerPictures_0" ngf-pattern="image/*" accept="image/*" 
        			ngf-max-size="20MB" ngf-select required uf-validate-filelist="insuranceForm.flyerPictures">
        			<img ngf-src="flyerPictures_0 || 'common/img/Placeholder.jpg'"></img>
        		</button>
        		<button class="fileUpload" ng-model="flyerPictures_1" name="flyerPictures_1" ngf-pattern="image/*" accept="image/*" 
        			ngf-max-size="20MB" ngf-select required uf-validate-filelist="insuranceForm.flyerPictures">
        			<img ngf-src="flyerPictures_1 || 'common/img/Placeholder.jpg'"></img>
        		</button>
	        	<small class="errInfo">
					<span ng-show="insuranceForm.$submitted && flyerPictures_missing">请提供六张飞行器照片</span>
					<span ng-show="flyerPictures_duplicated">照片不得重复</span>
	        	</small>
        		<button class="fileUpload" ng-model="flyerPictures_2" name="flyerPictures_2" ngf-pattern="image/*" accept="image/*" 
        			ngf-max-size="20MB" ngf-select required uf-validate-filelist="insuranceForm.flyerPictures">
        			<img ngf-src="flyerPictures_2 || 'common/img/Placeholder.jpg'"></img>
        		</button>
        		<button class="fileUpload" ng-model="flyerPictures_3" name="flyerPictures_3" ngf-pattern="image/*" accept="image/*" 
        			ngf-max-size="20MB" ngf-select required uf-validate-filelist="insuranceForm.flyerPictures">
        			<img ngf-src="flyerPictures_3 || 'common/img/Placeholder.jpg'"></img>
        		</button>
        		<button class="fileUpload" ng-model="flyerPictures_4" name="flyerPictures_4" ngf-pattern="image/*" accept="image/*" 
        			ngf-max-size="20MB" ngf-select required uf-validate-filelist="insuranceForm.flyerPictures">
        			<img ngf-src="flyerPictures_4 || 'common/img/Placeholder.jpg'"></img>
        		</button>
        		<button class="fileUpload" ng-model="flyerPictures_5" name="flyerPictures_5" ngf-pattern="image/*" accept="image/*" 
        			ngf-max-size="20MB" ngf-select required uf-validate-filelist="insuranceForm.flyerPictures">
        			<img ngf-src="flyerPictures_5 || 'common/img/Placeholder.jpg'"></img>
        		</button>
        	</div>
        </section>
        <section>
            <label>购机发票</label>
            <div>
        		<button ngf-select required class="fileUpload" ng-model="receipt" name="receipt" ngf-pattern="image/*" accept="image/*" 
        			ngf-max-size="20MB">
        			<img ngf-src="receipt || 'common/img/Placeholder.jpg'"></img>
        		</button>
            </div>
			<small></small>
        </section>
        <section class="staticInfo">
        	<label>被保险人电话</label>
        	<div ng-bind="account.mobilePhone"></div>
        </section>
        <section class="staticInfo">
        	<label>被保险人地址</label>
        	<div ng-bind="account.address"></div>
        </section>
        <section class="staticInfo" ng-show="account.idCardNumber !== null">
        	<label>被保险人身份证</label>
        	<div ng-bind="account.idCardNumber"></div>
        </section>
        <section ng-show="account.idCardUrl1 !== null">
        	<label>身份证照正面</label>
        	<img ng-bind="account.idCardUrl1"/>
        </section>
        <section ng-show="account.idCardUrl2 !== null">
        	<label>身份证照反面</label>
        	<img ng-bind="account.idCardUrl2"/>
        </section>
	</fieldset>
</form>
