<form novalidate name="insuranceForm">
	<fieldset>
	    <section class="staticInfo">
	        <label>保险类型</label>
	        <div ng-bind="typeName"></div>
	    </section>
        <section>
            <label>投保机型</label>
            <div>
            	<select ng-model="data.flyer" name="flyer" class="form-control" ng-disabled="devices.length == 0" ng-required="true" ng-options="device as device.deviceName for device in devices"></select>
				<small>
					<span ng-show="insuranceForm.flyer.$error.required && (insuranceForm.flyer.$dirty || insuranceForm.$submitted)" class="errInfo">请填写投保机型</span>
				</small>
            	<details>
	            	<img src="img/Flyer.png"></img>
	            	<small ng-bind="data.flyer|flyerInfo"></small>
            	</details>
            </div>
        </section>
        <section>
            <label>飞控编号</label>
            <div>
            	<input type="string" name="control" ng-model="data.control" ng-required="true" class="form-control">
				<small class="errInfo">
					<span ng-show="insuranceForm.control.$error.required && (insuranceForm.control.$dirty || insuranceForm.$submitted)">请填写飞控编号</span>
				</small>
           	</div>
        </section>
        <section>
            <label>飞行器价格</label>
            <div>
            	<div class="input-group">
	            	<input type="number" class="form-control" name="price" ng-required="true" ng-model="data.price" min="0" step="1" data-number-to-fixed="2" data-number-stepfactor="100">
	            	<span class="input-group-addon">元</span>
            	</div>
				<small class="errInfo">
					<span ng-show="insuranceForm.price.$error.required && (insuranceForm.price.$dirty || insuranceForm.$submitted)">请填写飞行器价格</span>
					<span ng-show="insuranceForm.price.$error.number && (insuranceForm.price.$dirty || insuranceForm.$submitted)">请填写数字</span>
				</small>
            </div>
        </section>
        <section>
            <label>设备所有人</label>
            <div>
            	<input type="string" name="owner" ng-model="data.owner" ng-required="true" class="form-control">
				<small class="errInfo">
					<span ng-show="insuranceForm.owner.$error.required && (insuranceForm.owner.$dirty || insuranceForm.$submitted)">请填写设备所有人</span>
				</small>
           	</div>
        </section>
        <section>
            <label>购机发票</label>
            <div>
        		<button ngf-select required class="fileUpload" ng-model="data.receiptFile" name="receipt" ngf-pattern="image/*" accept="image/*" 
        			ngf-max-size="20MB">
        			<img ngf-src="data.receiptFile || 'common/img/Placeholder.jpg'"></img>
        		</button>
				<small class="errInfo">
					<span ng-show="insuranceForm.$submitted && insuranceForm.receipt.$error.required">请提供购机发票</span>
				</small>
            </div>
        </section>
        <section class="flightPictures">
        	<label>飞行器照片</label>
        	<div>
        		<button class="fileUpload" ng-model="data.flyerPictures_0" name="flyerPictures_0" ngf-pattern="image/*" accept="image/*" 
        			ngf-max-size="20MB" ngf-select required uf-validate-filelist="insuranceForm.flyerPictures">
        			<img ngf-src="data.flyerPictures_0 || 'common/img/Placeholder.jpg'"></img>
        		</button>
        		<button class="fileUpload" ng-model="data.flyerPictures_1" name="flyerPictures_1" ngf-pattern="image/*" accept="image/*" 
        			ngf-max-size="20MB" ngf-select required uf-validate-filelist="insuranceForm.flyerPictures">
        			<img ngf-src="data.flyerPictures_1 || 'common/img/Placeholder.jpg'"></img>
        		</button>
        		<button class="fileUpload" ng-model="data.flyerPictures_2" name="flyerPictures_2" ngf-pattern="image/*" accept="image/*" 
        			ngf-max-size="20MB" ngf-select required uf-validate-filelist="insuranceForm.flyerPictures">
        			<img ngf-src="data.flyerPictures_2 || 'common/img/Placeholder.jpg'"></img>
        		</button>
        		<button class="fileUpload" ng-model="data.flyerPictures_3" name="flyerPictures_3" ngf-pattern="image/*" accept="image/*" 
        			ngf-max-size="20MB" ngf-select required uf-validate-filelist="insuranceForm.flyerPictures">
        			<img ngf-src="data.flyerPictures_3 || 'common/img/Placeholder.jpg'"></img>
        		</button>
        		<button class="fileUpload" ng-model="data.flyerPictures_4" name="flyerPictures_4" ngf-pattern="image/*" accept="image/*" 
        			ngf-max-size="20MB" ngf-select required uf-validate-filelist="insuranceForm.flyerPictures">
        			<img ngf-src="data.flyerPictures_4 || 'common/img/Placeholder.jpg'"></img>
        		</button>
        		<button class="fileUpload" ng-model="data.flyerPictures_5" name="flyerPictures_5" ngf-pattern="image/*" accept="image/*" 
        			ngf-max-size="20MB" ngf-select required uf-validate-filelist="insuranceForm.flyerPictures">
        			<img ngf-src="data.flyerPictures_5 || 'common/img/Placeholder.jpg'"></img>
        		</button>
	        	<small class="errInfo">
					<span ng-show="insuranceForm.$submitted && flyerPictures_required">请提供六张飞行器照片</span>
					<span ng-show="flyerPictures_duplicated">照片不得重复</span>
	        	</small>
        	</div>
        </section>
	</fieldset>
</form>
