body, .btn-default, .btn-default.active, .btn-default:active {
	background-color: lightgray;
    font-family: "Microsoft YaHei",tahoma,arial,Hiragino Sans GB,宋体;
    color: #888;
}

section .center {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px;
}

section.main {
    overflow: hidden;
}

section.main .center {
    background: url(img/background-1.png) no-repeat rgb(140,226,251) 620px 252px;
}

section.main > img {
    position: absolute;
    left: 45px;
    top: 65px;
}

div.client {
    /*background-color: white;
    border: 1px solid rgb(100, 204, 255);*/
    border: 3px solid white;
    border-radius: 6px;
    height: 25em;
    left: 9em;
    padding: 2em 1em;
    position: relative;
    top: 10em;
    width: 35em;
}

div.actions {
    border: 1px solid white;
    border-radius: 15px;
    height: 400px;
    margin-left: 6em;
    margin-top: 3em;
    overflow: hidden;
    width: 500px;
    padding: 3em 0;
}

div.actions button {
    margin: 1em 6em 0;
    width: 60%;
}

div.actions .dropdown-menu {
    position: inherit;
    top: 0;
    margin: 0 6em;
}
.modal-content {
	padding: 2em;
}

.modal-content h1 {
	font-size: 1.5em;
	margin: 0 0 1em;
	color: rgb(107,217,254);
}

form section {
	margin-bottom: 1em;
       width: 80%;
       float: left;
}

form section label {
	display: inline;
}

form section > label:first-child {
    margin-right: 10px;
    float: left; 
    width: 80px;
    margin-top: 7px;
}
form section.staticInfo span {
	margin-top: 7px;
	float: left;
}

.form-horizontal.time > label, .form-horizontal.time > table {
    float: left;
    margin-right: 10px;
}
.form-horizontal.time > label {
    margin-top: 40px;
}

form input, form select, form textarea {
    border-radius: 3px;
    border: 1px solid #CCC;
    box-sizing: border-box;
}
form input, form select {
    height: 34px;
}
form input {
    padding-left: 5px;
    margin-right: 5px;
}
form textarea {
    height: 10em;
    max-height: 10em;
    max-width: 75%;
}
section > select, section > input, section > textarea {
    width: 50.6%;
}
.twoEqual select, .twoEqual input {
    width: 25%;
}
section.date input {
    width: 40.4%;
    margin-right: 0px;
}
section.date button {
    margin-top: -4px;
}
form footer {
    padding-left: 89px;
}

article {
    overflow: hidden;
}
article > section {
    border-top: 1px solid lightgray;
    padding-top: 10px;
}
article > section, article > footer {
    float: left;
    width: 90%;
    overflow: hidden;
}
article > section > section {
    margin-bottom: 5px;
    overflow: hidden;
}
article section > label {
    float: left;
    margin-right: 10px;
    text-align: right;
    width: 100px;
}
article button {
    margin-left: 0.4em;
}
article section > span, article section > ul {
    margin-left: 1.6em;
}
article footer {
    border-top: 3px solid #555;
    padding-left: 3.3em;
    padding-top: 25px;
}
article section > ul {
    float: left;
    width: 60%;
    padding-left: 0;
}
article section li {
    list-style-type: none;
}
article section li label {
    width: 4em;
}
article img {
    width: 50%;
    margin-top: -16px;
}
article .emphasis {
	color: rgb(107,217,254);
}
article .agreement {
	padding-bottom: 10px;
}

form.ng-submitted .ng-invalid, form .invalid input {
    border: red solid 1px;
}
.errInfo {
    display: none;
}
form.ng-submitted .errInfo, form .invalid .errInfo {
    display: inline;
    color: red;
    width: 20%;
}
form .time .errInfo {
	float: left;
	margin-top: 2.8em;
}
