<link href="mission/views/missionEdit/MissionEdit.css" rel="stylesheet" type="text/css" media="all"/>

<com-formpageheader tabs="headerTabs" active="headerActive"></com-formpageheader>
<div ng-show="page=='form'" class="card" >
    <section>
    	<div class="center">
		    <form novalidate name="missionForm">
		        <fieldset>
			        <section class="staticInfo">
			            <label>任务类型</label>
			            <span ng-bind="config.typeName"/>
			        </section>
		            <section>
		                <label for="location" class="control-label input-group">场所类型</label>
		                <span class="btn-group" data-toggle="buttons">
		                    <label class="btn btn-default active">
		                        <input type="radio" name="place" value="1">室内
		                    </label>
		                    <label class="btn btn-default">
		                        <input type="radio" name="place" value="2" checked>室外
		                    </label>
		                    <label class="btn btn-default">
		                        <input type="radio" name="place" value="3">室外+室内
		                    </label>
		                </span>
		            </section>
		            <section class="twoEqual">
		                <label>任务城市</label>
		                <select ng-model="province" ng-disabled="loading" ng-options="prov.name as prov.name for prov in provinces" ng-change="provinceChange()"></select>
		                <select ng-model="city" ng-disabled="cities.length == 0 || loading" ng-options="city for city in cities" ng-change="cityChange()"></select>
		            </section>
		            <section>
		                <label>具体地址</label>
		                <input ng-model="address" name="address" type="text" required ng-disabled="loading"></input>
		                <small class="errInfo" ng-show="missionForm.address.$invalid">请填写具体地址</small>
		            </section>
		            <section class="date">
		                <label>任务日期</label>
		                <input type="date" datepicker-popup="yyyy年M月d日" ng-model="date" is-open="opened" 
		                	min-date="minDate" datepicker-options="dateOptions" ng-required="true" />
		                <button class="btn" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
		            </section>
		
		            <section class="form-horizontal time" ng-class="timeClass">
		                <label>时间范围</label>
		                <timepicker ng-model="startTime" show-meridian="false" minute-step="30"></timepicker>
		                <label>至</label>
		                <timepicker ng-model="endTime" show-meridian="false" minute-step="30"></timepicker>
		                <small class="errInfo" ng-show="startTime >= endTime">起始时间应早于结束时间</small>
		            </section>
		            <section>
		                <label>补充信息</label>
		                <textarea ng-model="remark"></textarea>
		            </section>
			        <footer>
			            <button class="btn btn-primary" ng-disabled="loading" ng-click="submit()">提交</button>
			            <button class="btn btn-cancel" ng-click="close()">取消</button>
			        </footer>
		        </fieldset>
		    </form>
		    <com-helpSideBar></com-helpSideBar>
    	</div>
    </section>
</div>
<div ng-show="page=='summary'" class="card" style="display: none">
	<section>
		<div class="center">
		    <article>
		        <section>
		            <section>
		                <label>任务类型</label>
		                <span ng-bind="config.typeName"/>
		            </section>
		            <section>
		                <label>发起人ID</label>
		                <span ng-bind="user|userId"/>
		            </section>
		            <section>
		                <label>联系电话</label>
		                <span ng-bind="phone"/>
		            </section>
		        </section>
		        <section>
		            <section>
		                <label>时间</label>
		                <span>
		                    <span ng-bind="date|dateFormat"></span>
		                    <span ng-bind="startTime|timeFormat"></span>至
		                    <span ng-bind="endTime|timeFormat"></span>
		                </span>
		            </section>
		            <section>
		                <label>地点</label>
		                <span>
		                    <span ng-bind="province"></span>
		                    <span ng-bind="city"></span>
		                    <span ng-bind="address"></span>
		                </span>
		            </section>
		            <section>
		                <label>飞行场地</label>
		                <span ng-bind="place|missionPlace"></span>
		            </section>
		        </section>
		        <section class="emphasis">
		            <section>
		                <label>预算金额</label>
		                <span><strong ng-bind="payment|money"></strong></span>
		            </section>
		        </section>
		        <section class="agreement">
		            <span><input type="checkbox" ng-model="agree"/>&nbsp;已阅读并同意<a target="_blank" href="../doc/contract20150801.pdf">本合同</a></span>
		        </section>
		        <footer>
		            <button class="btn btn-primary" ng-click="checkout()" ng-disabled="loading || !agree">确认</button>
		            <button class="btn btn-cancel" ng-click="edit()">返回修改</button>
		        </footer>
		    </article>
		    <com-helpSideBar></com-helpSideBar>
		</div>
	</section>
</div>
<div ng-show="page=='result'" class="card" style="display: none">
	<section>
	    <div class="center">
	    	<article>
		        <section>
		            <label>任务编号</label>
		            <span ng-bind="missionId"></span>
		        </section>
		        <section>
		            <label>应付金额</label>
		            <span ng-bind="payment|money"></span>
		        </section>
		        <section>
		            <label>付款方式</label>
		            <ul>
		                <li><label>户名</label><span ng-bind="bankAccount.name"></span></li>
		                <li><label>开户行</label><span ng-bind="bankAccount.branch"></span></li>
		                <li><label>帐号</label><span ng-bind="bankAccount.account"></span></li>
		            </ul>
		        </section>
		        <section>
		            <label>手机支付</label>
		            <img ng-src="{{qrcodePayment}}"></img>
		        </section>
		        <footer>
		            <button class="btn btn-danger" ng-click="close()">返回</button>
		        </footer>
		    </article>
  		    <com-helpSideBar></com-helpSideBar>
	    </div>
	</section>
</div>
