<link href="common/components/dialogLogin/DialogLogin.css" rel="stylesheet" type="text/css" media="all"/>
<header>
    <h1>登录</h1>
</header>
<form no-validate>
    <fieldset>
        <section>
            <label>手机/会员ID</label>
            <div>
	            <input ng-model="user" class="form-control" type="text" required></input>
	            <a href="../accountType">注册新帐号</a>
            </div>
        </section>
        <section>
            <label>密码</label>
            <div>
	            <input ng-model="password" class="form-control"  required type="password"></input>
	            <a href="../reset_password">忘记密码</a>
            </div>
        </section>
    </fieldset>
    <footer>
        <button class="btn btn-primary" ng-click="ok()">登录</button>
        <button class="btn btn-cancel" ng-click="cancel()">取消</button>
    </footer>
</form>
