com-wizard > ul {
    margin-bottom: 0;
    padding-left: 0;
    overflow: hidden;
}

com-wizard > ul > li {
	list-style-type: none;
}

.cardContent > main, .cardContent > footer {
	width: 80%;
	float: left;
	margin-bottom: 2em;
}

.cardContent > footer button {
	margin-right: 0.5em;
	width: 7em;
}

form > fieldset > section {
	display: flex;
	margin-bottom: 1em;
}
form > fieldset > section > label {
	margin-top: 6px;
	flex: 0.3;
}
form > fieldset > section > div {
	flex: 2;
}
form > fieldset > section.staticInfo > label {
	margin-top: 0;
}
form > fieldset > section.staticInfo > div {
	flex: 2;
}
form input, form select,form textarea {
    border-radius: 3px;
    border: 1px solid #CCC;
    box-sizing: border-box;
    width: 70%;
    height: 2.5em;
    padding-left: 1em;
}

form button.fileUpload {
    background-color: transparent;
    border: 0 none;
    margin-bottom: 1em;
    padding-left: 0;
    width: 35%;
}
form button.fileUpload > img {
	max-width: 100%;
    max-height: 295px;
}

form details {
	margin-top: 0.5em;
}
form details > img {
	width: 200px;
}
form details > small {
	float: left;
	width: 100%;
}

form input.ng-invalid.ng-dirty, form select.ng-invalid.ng-dirty, form textarea.ng-invalid.ng-dirty {
    border: red solid 1px;
}
.errInfo {
    display: none;
}
form.ng-dirty .ng-invalid.ng-dirty + .errInfo {
    display: inline;
    color: red;
}
form .time .errInfo {
	float: left;
	margin-top: 2.8em;
}
