com-wizard > ul {
    margin-bottom: 0;
    padding-left: 0;
    overflow: hidden;
}

com-wizard > ul > li {
	list-style-type: none;
}

.cardContent > main, .cardContent > footer {
	width: 80%;
	float: left;
	margin-bottom: 2em;
}

.cardContent > footer button {
	margin-right: 0.5em;
	width: 7em;
}

form > fieldset > section {
	display: flex;
	margin-bottom: 1em;
}
form > fieldset > section > label {
	margin-top: 6px;
	flex: 0.3;
}
form > fieldset > section > div {
	flex: 2;
}
form > fieldset > section.staticInfo > label {
	margin-top: 0;
}
form > fieldset > section.staticInfo > div {
	flex: 2;
}
form .form-control, form .input-group {
    width: 70%;
}

form button.fileUpload {
    background-color: transparent;
    border: 0 none;
    margin-bottom: 1em;
    padding: 0;
    width: 34%;
    margin-right: 10px;
}
form button.fileUpload > img {
	max-width: 100%;
    max-height: 214px;
}

form details {
	margin-top: 0.5em;
}
form details > img {
	width: 200px;
}
form details > small {
	float: left;
	width: 100%;
}
form .errInfo {
	color: red;
}
form .ng-invalid.ng-dirty {
    border: red solid 1px;
}
