<link href="common/components/footer/Footer.css" rel="stylesheet" type="text/css" media="all"/>

<footer>
    <section>
        <div class="center prize">
            <div>
                <img src="img/homepage/Notes.png" />
                <h3>成为签约飞手</h3>
                <p>为超过1000家客户服务，百分之百获得任务</p>
            </div>
            <div>
                <img src="img/homepage/Awards.png" />
                <h3>全国代理加盟</h3>
                <p>会员服务、商业任务、保险服务授权经销</p>
            </div>
            <div>
                <img src="img/homepage/Charity.png" />
                <h3>公益服务申请</h3>
                <p>免费为全国公益性组织提供无人机服务</p>
            </div>
        </div>
    </section>
    <section>
        <div class="center linkBox">
            <div>
                <a href="#home1">空中梦想</a>
                <a href="#skills">UFLYING无人机联盟</a>
                <a href="#gallery">空中家园</a>
                <a href="#">派发任务</a>
                <a href="#">商业合作</a>
                <a href="#">广告合作</a>
                <a href="#">签约飞手</a>
                <a href="#">代理加盟</a>
                <a href="#">媒体报道</a>
                <a href="html/contact.html" target="_self">联系我们</a>
            </div>
            <div>
	            <img src="common/img/QRCode.png"/>
            </div>
        </div>
                <div class="copyright">©2015 AIR DREAM 京ICP备15036034号-1&nbsp;&nbsp;&nbsp;&nbsp;服务热线：4008-816-956 </div>
    </section>
    
</footer>
