footer section {
    overflow: hidden;
}

footer .prize {
	display: flex;
}
footer .item {
    text-align: center;
    flex: 0.3333;
}

footer section .center {
    background-color: black;
}

footer section:first-child .center {
    background-color: #dddddd;
}

footer p, footer h3, footer a {
    color: #999;
}

footer a {
	text-decoration: underline;
}

footer h3 {
    font-size: 1em;
    margin-bottom: 5px;
}

footer p {
    font-size: small;
    margin-top: 5px;
}

footer .copyright {
	overflow: hidden;
    text-align: center;
	font-size: 0.8em;
    color: #9f9f9f;
}

footer .linkBox {
	display: flex;
}
footer .linkBox div:first-child {
	flex: 5;
}
footer .linkBox div:last-child {
	flex: 1.8;
	text-align: center;
}

footer .linkBox a {
    font-size: small;
    font-weight: bold;
    margin: 10px 0;
    float: left; 
    width: 25%;
    text-align: center;
}

@media screen and (max-width: 480px) {
	footer .linkBox {
		flex-direction: column;
	}
	footer .linkBox >  div {
		margin: 1em;
	}
	footer .linkBox a {
		width: 50%;
	}
	footer .prize {
		flex-direction: column;
		padding: 2em;
	}
}