body, .btn-default, .btn-default.active, .btn-default:active {
	background-color: lightgray;
    font-family: "Microsoft YaHei",tahoma,arial,Hiragino Sans GB,å®‹ä½“;
    color: #888;
}
/*
.imageRotation{
	height:690px;
	width:1000px;
	algin: center;
	overflow:hidden;  /*--è¶…å‡ºå®¹å™¨çš„æ‰€æœ‰å…ƒç´ éƒ½ä¸�å�¯è§�--*/
	position:relative;  /*--ç›¸å¯¹å®šä½�--*/
	margin: 0 0 0 0;
	border:10px solid #eee;
	bodrer-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	}
*/