body, .btn-default, .btn-default.active, .btn-default:active {
	background-color: lightgray;
    font-family: "Microsoft YaHei",tahoma,arial,Hiragino Sans GB,å®‹ä½“;
    color: #888;
}
section .main {
	width: 80%;
 	margin: 0 auto; 
 	float:none; 
 	background-color:#fff; 
 	padding:12px;
    overflow: hidden; 	
}

section .tabset{
	font-size: 1em;
	margin: 10px auto;
	padding: 20px;
}
section .heading{
	
	font-size: 1.2em;
}
section .center {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  	background-color:#fff;
	padding:40px;
}

.imageRotation{
	height:690px;
	width:1000px;
	algin: center;
	overflow:hidden;  /*--è¶…å‡ºå®¹å™¨çš„æ‰€æœ‰å…ƒç´ éƒ½ä¸�å�¯è§�--*/
	position:relative;  /*--ç›¸å¯¹å®šä½�--*/
	margin: 0 0 0 0;
	border:10px solid #eee;
	bodrer-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	}
/*-------------å‰�ä¸€å¼ ã€�å�Žä¸€å¼ ---------------*/
.preNext{
	position:absolute;
	top:0px;
	width:24px;
	height:230px;
	padding:0px 15px;
	z-index:2;
	opacity:0;
	-moz-opacity:0;
	-webkit-opacity:0;
	filter:alpha(opacity=0);
	}
.pre{
	left:0px;
	}
.next{
	right:0px;
	}
.preNext img{
	display: block;
	width:24px;
	height:24px;
	margin-top:303px;
	cursor:pointer;
	}
/*-------------å›¾ç‰‡å®¹å™¨---------------*/
.imageBox{
	position:absolute;  /*--å›ºå®šå®šä½�--*/
	height:670px;
	top:0px;
	left:0px;
	overflow:hidden;
	}
.imageBox img {
	display:block;
	height:670px;
	width:980px;
	float:left;
	border:none;
	}
/*-------------æ ‡é¢˜å®¹å™¨---------------*/
.titleBox{
	position:absolute;
	bottom:0px;
	width:1000px;
	height:1２0px;
	overflow:hidden;
	}
.titleBox p{
	position:absolute;
	width:1000px;
	height:1２0px;
	margin:0px;
	padding:0px 10px;
	line-height:40px;
	z-index:1;
	color:#000;
	font-family:"å¾®è½¯é›…é»‘","yahei";
	filter:alpha(opacity=50);
	}
.titleBox p span{
	opacity:1;
	-moz-opacity:1;
	-webkit-opacity:1;
	filter:alpha(opacity=100);
	}
.titleBox p.active{
	bottom:0px;
	}
/*-------------å›¾æ ‡å®¹å™¨---------------*/
.icoBox{
	position:absolute;  /*--å›ºå®šå®šä½�--*/
	bottom:14px;
	right:15px;
	width:76px;
	height:12px;
	text-align:center;
	line-height:40px;
	z-index:2;
	}
.icoBox span{
	display:block;
	float:left;
	height:12px;
	width:12px;
	margin-left:3px;
	overflow:hidden;
	background:url("../common/img/ico.png") 0px 0px no-repeat;
	cursor:pointer;
	}
.icoBox span.active {
	background-position:0px -12px;
	cursor:default;
	}