aside.help {
	background-color: rgb(244, 242, 243);
    float: right;
    height: 39em;
    width: 100%;
    padding: 2em 1em;
    border: 1px solid darkgray;
    box-sizing: border-box;
}

aside.help header {
	width: 100%;
	text-align: center;
	margin-bottom: 2.2em;
}
	
aside.help label, aside.help mark {
	background-color: transparent!important;
    float: left;
    margin-bottom: 0.1em !important;
    padding: 0 !important;
    width: 100%;
}
	
aside.help button {
    background-color: transparent !important;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    clear: both;
    float: left;
    font-size: large;
    height: 42px;
    margin: 1em 0.8em 0.4em;
    width: 80%;
}
	
aside.help small {
	opacity: 0.75;
	float: left;
	margin-top: 0.1em;
}

aside.help > main {
    border-bottom-width: 1px!important;
    overflow: hidden;
    padding-bottom: 43px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
}

aside.help > main footer {
    border-top: 1px solid white;
    padding-top: 2em;
    text-align: center;
    margin-top: 2em;
}

aside.help .mark {
	color: rgb(25, 208, 251);
	border-color: rgb(25, 208, 251);
}
  	
@media screen and (max-width: 480px) {
	aside.help {
		margin-bottom: 2em;
		padding: 1em;
		height: auto;
	}
	aside.help > main {
		flex-direction: row;
		padding-bottom: 1em;
	}
	aside.help > main > section {
		flex: 0.37;
	}
	aside.help > main > footer {
		flex: 0.26;
		border: 0;
		margin-top: 0px;
		padding-top: 0px;
	}
	aside.help header {
		margin-bottom: 1em;
	}
	aside.help button {
		margin: 0 0 0.4em;
		font-size: small;
		height: 3em;
	}
	aside.help footer img {
		width: 100%;
	}
}