<div ng-show="page=='form'">
    <header>
        <h1>任务设置</h1>
    </header>
    <form>
        <fieldset>
            <section>
                <label for="location" class="control-label input-group">场所类型</label>
                <span class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="radio" name="mode" value="1">户外
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="mode" value="2">室内
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="mode" value="3" checked="">户外+室内
                    </label>
                </span>
            </section>
            <section class="twoEqual">
                <label>任务城市</label>
                <select ng-model="province" ng-options="prov.name as prov.name for prov in provinces" ng-change="provinceChange()"></select>
                <select ng-model="city" ng-disabled="cities.length == 0" ng-options="city for city in cities" ng-change="cityChange()"></select>
            </section>
            <section>
                <label>具体地址</label>
                <input ng-model="address" type="text"></input>
            </section>
            <section class="date">
                <label>任务日期</label>
                <!--<div date-picker="start" min-view="date"></div>-->
                    <input type="text" datepicker-popup="yyyy年M月d日" ng-model="dateText" is-open="opened" datepicker-options="dateOptions" ng-required="true" />
                    <button class="btn" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
            </section>

            <section class="form-horizontal time">
                <label>时间范围</label>
                <timepicker ng-model="startTime" show-meridian="false" minute-step="30"></timepicker>
                <label>至</label>
                <timepicker ng-model="endTime" show-meridian="false" minute-step="30"></timepicker>
            </section>
            <section>
                <label>补充信息</label>
                <textarea ng-model="comment"></textarea>
            </section>
        </fieldset>
        <footer>
            <button class="btn btn-primary" ng-click="submit()">提交</button>
            <button class="btn btn-cancel" ng-click="cancel()">取消</button>
        </footer>
    </form>
</div>
<div ng-show="page=='summary'">
    <article>
        <header>
            <h1>任务总结</h1>
        </header>
        <section>
            <section>
                <label>发起人ID</label>
                <span ng-bind="user"/>
            </section>
            <section>
                <label>联系电话</label>
                <span ng-bind="phone"/>
            </section>
        </section>
        <section>
            <section>
                <label>时间</label>
                <span ng-bind="timeDescript"/>
            </section>
            <section>
                <label>地点</label>
                <span ng-bind="address"/>
            </section>
            <section>
                <label>飞行场地</label>
                <span ng-bind="mode"/>
            </section>
        </section>
        <section>
            <section>
                <label>预算金额</label>
                <span ng-bind="money"/>
            </section>
        </section>
        <footer>
            <button class="btn btn-primary" ng-click="checkout()">准备付款</button>
            <button class="btn btn-cancel" ng-click="edit()">返回修改</button>
        </footer>
    </article>
</div>
